<p>
    someone see you take care</p>

<div class="bs-example">
    <form>
        <div class="form-group position-relative">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control is-valid" id="inputEmail" placeholder="Email" value="">
            <div class="valid-tooltip">Good!.</div>
        </div>
        <div class="form-group position-relative">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control is-invalid" id="inputPassword" placeholder="Password">
            <div class="invalid-tooltip">Oops!</div>
        </div>
        <div class="form-group">
            <label class="form-check-label"><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>