<html>

<head>

</head>

<body>

    <img src="../../assets/images/Ditchpally_Ramalayam.jpg" width=200 height=200>



    <h1>
        Ramalayam

    </h1>
    <p> it is nearest Railway station Dichpally </p>

    <form>
        <div class="mb-3">
            <label class="form-label" for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="mb-3">
            <label class="form-label" for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkRemember">
                <label class="form-check-label" for="checkRemember">Remember me</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>



</body>





</html>
<app-footer></app-footer>
<router-outlet></router-outlet>