<div class="b1">
    <div class="container-fluid">

        <h3>Narendhar localguide</h3>
        <p><b><i>we are welcomes to temple's world</i></b></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-8 ">
                    <img class="card-img-top" src="./assets/images/khilla.jpg" alt="Card image">

                    <h4 class="card-title">Dichpally Ramalayam</h4>
                    <p class="card-text">apuroopa shilpalayam Dichpally Ramalayam god:sitha with rama like ayodya</p>

                    <a routerLink="/ram" class="btn btn-primary">view more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-8">
                    <img class="card-img-top" src="./assets/images/airavat.jpg" alt="Card image">

                    <h4 class="card-title">airavateshwara temple</h4>
                    <p class="card-text">located as tamilnadu god:Lord shiva nearest river:kollidam river

                    </p>
                    <a routerLink="view more2" class="btn btn-primary">view more</a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-8">
                    <img class="card-img-top" src="./assets/images/akshardam.jpg" alt="Card image">

                    <h4 class="card-title">akshardam temple</h4>
                    <p class="card-text">located in new delhi Lord:swami narayan
                    </p>
                    <a routerLink="view more3" class="btn btn-primary">view more</a>

                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="./assets/images/bhoremdevi.jpg" alt="no img" width="1200px" height="350px">
                    <h3>Bhoramdeo-temple</h3>
                    <p>Located in chattisgarh,Lord:shiva god.</p>
                </div>

                <div class="item">
                    <img src="./assets/images/badrinath.jpg" alt="no img" width="1200px" height="350px">
                    <h3>Badrinath temple</h3>
                    <p>located in uttarakhand,Lord:Vishnu god</p>
                </div>

                <div class="item">
                    <img src="./assets/images/amarnath.jpg" alt="no img" width="1200px" height="350px">
                    <h3>Amarnath temple</h3>
                    <p>located in jammukashmirpahlagam ,lord:shiva god .
                    </p>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" routerLink="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" routerLink="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- corousel end -->

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-8">
                    <img class="card-img-top" src="./assets/images/bhruhadeeshwara.jpg" alt="Card image">

                    <h4 class="card-title">bruhadeeshwara temple</h4>
                    <p class="card-text">Located at Tanjavoor,tamilnadu Lord:Shiva </p>
                    <a routerLink="view more5" class="btn btn-primary">view more</a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-8">
                    <img class="card-img-top" src="./assets/images/bhrahmeshwara.jpg" alt="Card image">

                    <h4 class="card-title">Bhrahmeshwara temple</h4>
                    <p class="card-text">located as Bhubaneshwae,Odisha god:Lord shiva
                    </p>
                    <a routerLink="view more6" class="btn btn-primary">view more</a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-8">
                    <img class="card-img-top" src="./assets/images/dhakshineshwari.jpeg" alt="Card image">

                    <h4 class="card-title">Dakshineshwari kali temple</h4>
                    <p class="card-text">located in kolkata,west bengal Lord:Bavatharini
                    </p>
                    <a routerLink="view more7" class="btn btn-primary">view more</a>

                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card p-8">
                            <img class="card-img-top" src="./assets/images/dilwara.jpg" alt="Card image">

                            <h4 class="card-title">Dilwara temple</h4>
                            <p class="card-text">Located at mount Abu,Rajastan Lord:Rishabanath Nearest River:Banas river </p>
                            <a routerLink="view more8" class="btn btn-primary">view more</a>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-8">
                            <img class="card-img-top" src="./assets/images/durgain amritsar.jpg" alt="Card image">

                            <h4 class="card-title">Durgain temple</h4>
                            <p class="card-text">located at amritsar,Punjab god:loddess Durga
                            </p>
                            <a routerLink="view more9" class="btn btn-primary">view more</a>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-8">
                            <img class="card-img-top" src="./assets/images/dwarakanath.jpg" alt="Card image">

                            <h4 class="card-title">Dwarkadesh temple</h4>
                            <p class="card-text">located in dwaraka,gujarat Lord:Shiva Lord
                            </p>
                            <a routerLink="view more10" class="btn btn-primary">view more</a>

                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card p-8">
                                    <img class="card-img-top" src="./assets/images/maatha ganga.jpg" alt="Card image">

                                    <h4 class="card-title">Maatha Gangothri temple</h4>
                                    <p class="card-text">Located in Gangotri,Uttarakhand Lord:Maatha ganga </p>
                                    <a routerLink="view more11" class="btn btn-primary">view more</a>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card p-8">
                                    <img class="card-img-top" src="./assets/images/gnana saraswathi.jpg" alt="Card image">

                                    <h4 class="card-title">Gnana Saraswathi temple</h4>
                                    <p class="card-text">located as Basar,Telangana god:Goddess Saraswathi
                                    </p>
                                    <a routerLink="view more12" class="btn btn-primary">view more</a>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card p-8">
                                    <img class="card-img-top" src="./assets/images/golden.jpg" alt="Card image">

                                    <h4 class="card-title">Golden temple</h4>
                                    <p class="card-text">located in amritsar,punjab Lord:Srihari </p>
                                    <a routerLink="view 13" class="btn btn-primary">view more</a>

                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card p-8">
                                            <img class="card-img-top" src="./assets/images/gomatheshwara.jpg" alt="Card image ">

                                            <h4 class="card-title ">gomateshwara temple/Bahubali temple</h4>
                                            <p class="card-text ">Located at Hassan,Karnataka Lord:Bahubali god
                                            </p>
                                            <a routerLink="view more14 " class="btn btn-primary ">view more</a>

                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="card p-8 ">
                                            <img class="card-img-top " src="./assets/images/guruvaayur.jpg " alt="Card image ">

                                            <h4 class="card-title ">Guruvayur temple</h4>
                                            <p class="card-text ">located as Guruvayur,Kerala god:Lord Vishnu
                                            </p>
                                            <a routerLink="view more15 " class="btn btn-primary ">view more</a>

                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="card p-8 ">
                                            <img class="card-img-top " src="./assets/images/hadimba.jpeg " alt="Card image ">

                                            <h4 class="card-title ">Hadimba Devi temple</h4>
                                            <p class="card-text ">located in Manali,Himachal pradesh Lord:Goddess Hadimbi devi


                                            </p>
                                            <a routerLink="view more16 " class="btn btn-primary ">view more</a>

                                        </div>
                                    </div>

                                    <div class="container ">
                                        <div class="row ">
                                            <div class="col-md-4 ">
                                                <div class="card p-8 ">
                                                    <img class="card-img-top " src="./assets/images/kailasanath.jpg " alt="Card image ">

                                                    <h4 class="card-title ">Kailasanatha temple</h4>
                                                    <p class="card-text ">Located at kanchipuram,Tamilnadu Lord:Shiva </p>
                                                    <a routerLink="view more17 " class="btn btn-primary ">view more</a>

                                                </div>
                                            </div>
                                            <div class="col-md-4 ">
                                                <div class="card p-8 ">
                                                    <img class="card-img-top " src="./assets/images/hoyasaleshwar.jpg " alt="Card image ">

                                                    <h4 class="card-title ">Hoyasaleshwar temple</h4>
                                                    <p class="card-text ">located as Hulebidu,Karnataka god:Lord Shiva
                                                    </p>
                                                    <a routerLink="view more18 " class="btn btn-primary ">view more</a>

                                                </div>
                                            </div>
                                            <div class="col-md-4 ">
                                                <div class="card p-8 ">
                                                    <img class="card-img-top " src="./assets/images/poori.jpeg " alt="Card image ">

                                                    <h4 class="card-title ">Poori Jagannath temple</h4>
                                                    <p class="card-text ">located in Puri,Odisha Lord:Vishnu God Nearest River:Chilika lake </p>
                                                    <a routerLink="view more19 " class="btn btn-primary ">view more</a>

                                                </div>
                                            </div>











                                            <br>
                                            <br>
                                            <app-footer></app-footer>